{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>TRIPUPP HR - Home</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="assets/img/favicon.png" rel="icon">
  <link href="{% static 'main/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="{% static 'main/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">

  <link href="{% static 'main/assets/css/style.css' %} " rel="stylesheet">
{% block navbar %}
</head>

  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center" style="max-width: 1400px;">
      {% if user.is_authenticated %}
      <h1 class="logo"><a href="{% url 'dashboard:index' %}">Tripupp HR</a></h1>
      {% else %}
      <h1 class="logo"><a href="{% url 'main:index' %}">Tripupp HR</a></h1>
      {% endif %}
      <nav id="navbar" class="navbar">
        <ul>
          {% if user.is_authenticated %}
          <li><a class="nav-link scrollto active" href="{% url 'dashboard:index' %}">Home(Dashboard)</a></li>
        {% else %}
          <li><a class="nav-link scrollto active" href="{% url 'main:index' %}">Home</a></li>
        {% endif %}
          <li><a class="nav-link scrollto" href="#about">Payroll</a></li>
          <li><a class="nav-link scrollto" href="#services">Benefits</a></li>
          <li><a class="nav-link   scrollto" href="#portfolio">Pricing</a></li>
          <li><a class="nav-link scrollto" href="#team">Work With Us</a></li>
        </ul>
      </nav>
      {% if user.is_authenticated %}
        <div class="navbar-right" style="margin-left: auto;">
          <a href="/logout" class="sign-in">Sign Out <i class="bi bi-chevron-right"></i></a>
        </div>
      {% else %}
        <div class="navbar-right" style="margin-left: auto;">
          <a href="{% url 'main:login' %}" class="sign-in">Sign In <i class="bi bi-chevron-right"></i></a>
        </div>
      {% endif %}
    </div>
  </header>
  {% endblock %}
  <div class="container-fluid">
  {% block content %}{% endblock content %}
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script> 
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>

  </html>